body { 
  font-family: Poppins, Arial, 
  sans-serif; padding: 1em; 
  background-color: whitesmoke;
}

em {
  background: cyan;
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00aeff;
  text-decoration: underline;
}

.ais-Pagination { margin-top: 1em; margin-left: 22em;}

.left-panel { float: left; width: 250px; text-align: center; margin-bottom: 5em; } /* move headings to center text-align: center; */

.ais-RefinementList {text-align: center; }

.right-panel { margin-left: 280px; }

.ais-ClearRefinements { margin-top: 1em; }

.ais-InfiniteHits-item { margin-bottom: 1em; } /* spaces each hit out slightly */

.ais-Stats {text-align: right;  margin-bottom:  1em; margin-right:  1em; color:gray; font-size: 0.9em; display: inline-block;}

.ais-ClearRefinements { margin-left: 1.1em; } /* centers facet */

.ais-Menu { margin-left: 2em; } /* centers facet */

.ais-RefinementList { margin-left: 3em; } /* centers facet */

.ais-NumericMenu { margin-left: 4.5em; } /* centers facet */

.ais-RatingMenu { margin-left: 2em; } /* centers facet */

.ais-PoweredBy { justify-content: center; margin: 2em; } /* centers facet */

.ais-ToggleRefinement{ margin-left:  3em; margin-top:  1em;} /* centers facet */

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.hit-shipping {
  margin-left: 1em;
  color: goldenrod;
}

.hit-text-content {
  margin-left: 18em;
}

.made-with-love { 
  text-align: center; 
}

/* CSS for autocomplete toggle switch */

.switch-group {
  margin-top: 0.5em;
}

.stats-and-switch-group {
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
